.edd-flat-rate-settings-country input[type=number] {
	width: 80px;
	padding: 0 0 0 8px;
}

.edd-tracking-info-email-message {
	display: block;
}

#edd-payment-tracking .spinner {
	vertical-align: top;
}
.edd-flat-rate-shipping-tracking-actions {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
}

.edd-flat-rate-shipping-tracking-actions .submit {
	float: none !important;
	padding-left: 0 !important;
	flex-grow: 1;
}

.edd-form-row__column.edd-form-row__column-center {
	justify-content: center !important;
}
